@model IEnumerable<Dominio.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de usuários</h2>

<p>
    @Html.ActionLink("Cadastrar novo usuário", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUsu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeUsu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNasc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeUsu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNasc)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.IdUsu  }) |
            @Html.ActionLink("Detalhes", "Details", new {  id=item.IdUsu }) |
            @Html.ActionLink("Deletar", "Delete", new {  id=item.IdUsu })
        </td>
    </tr>
}

</table>
